.first {
    position: relative;
    height: 20vh;
    width: 10vw;
}

.first img {
    width: 100%;
    height: 100%;
}

.second {
    position: absolute;
    top: 2%;
    left: 15%;
    height: 20vh;
    width: 10vw;
    margin-left: -400px;
}

.second img {
    width: 100%;
    height: 100%;
}

.third {
    position: absolute;
    top: 2%;
    left: 30%;
    height: 20vh;
    width: 10vw;
}

.third img {
    width: 100%;
    height: 100%;
}

.fourth {
    position: relative;
    height: 20vh;
    width: 10vw;
}

.fourth img {
    width: 100%;
    height: 100%;
}

.fifth {
    position: absolute;
    top: 22%;
    left: 15%;
    height: 20vh;
    width: 10vw;
}

.fifth img {
    width: 100%;
    height: 100%;
}

.sixth {
    position: absolute;
    top: 22%;
    left: 30%;
    height: 20vh;
    width: 10vw;
}

.sixth img {
    width: 100%;
    height: 100%;
}

.seventh {
    position: relative;
    height: 20vh;
    width: 10vw;
}

.seventh img {
    width: 100%;
    height: 100%;
}

.hi {
    position: absolute;
    top: 42%;
    left: 15%;
    height: 20vh;
    width: 10vw;
}

.hi img {
    width: 100%;
    height: 100%;
}

.ninth {
    position: absolute;
    top: 42%;
    left: 30%;
    height: 20vh;
    width: 10vw;
}

.ninth img {
    width: 100%;
    height: 100%;
}